.parent{
display: flex;
justify-content:space-between;
max-width: 100vw;
max-height:100vh;
font-family:verdana;
width: 100%;
height: 100%;
}
.child2{
	display: grid;
 place-items: center;
	background-color: indigo;
	font-family:verdana;
	width: 100%;
height: 100%;
}
.child1{
	display:grid;
	place-items:center;
	width: 100%;
height: 100%;
}
.a{
	font-family: verdana;
	font-color: red;
}
.z{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: ghostwhite;
	display:inline-block;
}
.input:hover{
	border-color: mediumpurple;
	border-radius: 5px;