
.button{
	background-color:darkcyan;
	border-radius: 5px;
	color: whitesmoke;
	border-color: darkorcyan;
	font-family:verdana;
}
.input:hover{
	border-color:darkcyan;
	border-radius: 5px;
}

.dot{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: ghostwhite;
	display:inline-block;
}
body{
	margin: 0;
	padding: 0;
}
.row{
	font-family:verdana;
	color: red;
}